/* CSS crunched with Crunch - http://crunchapp.net/ */
/*
Orange
Hex: #FF6200
HSL: 23° 100% 50%
RGB: 255 98 0

Green
Hex: #00A480
HSL: 167° 100% 32%
RGB: 0 164 128

Blue
Hex: #1049A9
HSL: 218° 83% 36%
RGB: 16 73 169

Yellow
Hex: #FFA400
HSL: 39° 100% 50%
RGB: 255 164 0
*/
.navbar-brand {
  font-family: 'Raleway', Helvetica, sans-serif;
}
