{% extends "bootstrap/base.html" %}
{% block head %}
	{{ super() }}
	<link href="http://fonts.googleapis.com/css?family=Josefin+Sans|Crimson+Text:400,400italic,700|Raleway:100" rel="stylesheet" type="text/css">
	<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
{% endblock %}

{% block title %}Hyphenate{% endblock %}
{% block styles %}
	<link rel="stylesheet" href="{{ url_for('.static', filename='style/css/styles.css') }}">
{% endblock %}
{% block navbar %}
	{% include "nav.html" %}
{% endblock navbar %}



{% block content %}
	<div class="main-container">
		{% block main_content %}
			<h1>OOPS! Something went wrong.</h1>
		{% endblock main_content %}
	</div>
{% endblock content %}
